@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    background-color: rgba(250, 250, 250, 0.9);
    padding: 5px;
}

button {
    font-family: "Lilita One", sans-serif;
    background-color: #2BC0E0;
    color: black;
    width: 250px;
    height: 70px;
    cursor: pointer;
}
button:hover {
    background-color: orange;

}

.center-button {
    display: block;
    margin: auto;
    border-radius: 25px;
    font-size: 30px;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}